@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-main text-white;
}

.wrapper {
  @apply relative w-screen flex flex-row justify-between xl:px-28;
}

.main {
  @apply min-h-screen flex flex-col items-center px-10 bg-second w-9/12 xl:w-auto border-l border-r border-gray-600;
}

.main-header {
  @apply w-full flex justify-between items-center border-b border-red-500 mb-3 px-2;
}

.main-header-text {
  @apply my-5 text-3xl;
}

.main-content {
  @apply flex flex-col w-full;
}

.like-follow-button{
  @apply py-2 px-3 border-2 border-gray-600 bg-main rounded-full hover:bg-gray-600 hover:text-white duration-100
}

.login-register-input {
  @apply w-full h-11 bg-white text-base text-gray-700 outline-none pl-12 pr-2 my-2 placeholder-gray-500 border border-gray-300 shadow-inner
  focus:shadow focus:border-second transition duration-200 rounded;
}

.login-register-input-box {
  @apply mb-4 text-xs text-gray-500 font-bold relative;
}

.login-register-input-icon {
  @apply absolute border-r border-gray-200 left-2 bottom-4 py-1 pl-1 pr-2 text-second;
}

.button-animation {
  @apply hover:opacity-80 duration-100;
}

@keyframes side-menu-animation{
  0%{
    left: 100vw;
    /* left: calc(100vw - 8.33333%); */
    display: block;
  }
  100%{
    left: 0;
  }
}

.side-menu{
  animation: 0.5s side-menu-animation 1;
}


@keyframes side-menu-animation1{
  0%{
    left: 0;
  }
  100%{
    left: 100vw;
    /* left: calc(100vw - 8.33333%); */
    display: none;
  }
}

.side-menu1{
  animation: 0.5s side-menu-animation1 1;
}
