@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 0.6em;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  @apply bg-gray-600 rounded-2xl;
}

*::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-700;
}

textarea::-webkit-scrollbar {
  width: 0.4em;
}

body {
  @apply bg-main text-white;
}

input, textarea {
  @apply focus:border-red-400 focus:outline-none;
}

ul {
  @apply list-disc ml-4;
}

.wrapperStyles {
  @apply text-black;
}

.editorStyles {
  @apply px-2 text-white;
}

.wrapper {
  @apply relative w-full flex flex-row justify-center xl:px-20;
}

.main {
  @apply min-h-screen w-10/12 lg:w-2/3 xl:w-200 2xl:w-220 bg-second flex flex-col items-center px-5 md:px-10 lg:mx-7 2xl:mx-10 border-l border-r border-gray-600;
}

.main-header {
  @apply w-full flex justify-between items-center border-b border-red-500 mb-3 px-2;
}

.main-header-text {
  @apply my-5 text-3xl;
}

.main-content {
  @apply flex flex-col w-full;
}

.default-input {
  @apply w-full h-11 text-base outline-none pr-2 my-2 placeholder-gray-500 border border-gray-300 shadow-inner focus:shadow transition duration-200 rounded;
}

.icon-input {
  @apply default-input bg-white pl-12 focus:border-gray-900;
}

.default-input-box {
  @apply flex flex-col mb-4 text-xs text-gray-500 font-semibold relative;
}

.default-input-submit {
  @apply cursor-pointer w-full h-11 flex justify-center items-center bg-gradient-to-r from-main to-second text-white text-lg font-medium py-2.5 px-4 rounded-md focus:outline-none hover:opacity-95
}

.default-input-icon {
  @apply absolute border-r border-gray-200 left-2 bottom-4 py-1 pl-1 pr-2 text-second;
}

.change-user-data-input-submit{
  @apply cursor-pointer w-full xl:w-1/2 border border-gray-600 flex justify-center items-center bg-gradient-to-r from-main to-second text-white text-lg font-medium py-2.5 px-4 rounded-md focus:outline-none hover:opacity-95
}

.login-register-alert{
  @apply bg-yellow-100 border-l-4 border-yellow-500 text-xs sm:text-sm text-main p-3 w-80 sm:w-96 mt-2 h-16
}

.button-animation {
  @apply hover:opacity-80 duration-100;
}

@keyframes side-menu-animation{
  0%{
    left: 100vw;
    display: block;
  }
  100%{
    left: 0;
  }
}

.side-menu{
  animation: 0.5s side-menu-animation 1;
}

@keyframes side-menu-animation1{
  0%{
    left: 0;
  }
  100%{
    left: 100vw;
    display: none;
  }
}

.side-menu1{
  animation: 0.5s side-menu-animation1 1;
}

.like-follow-button{
  @apply py-3 px-3 border shadow border-gray-800 bg-main rounded-full hover:bg-gray-800 hover:text-white duration-100 flex flex-col justify-center items-center md:ml-4 mt-2 md:mt-0;
}

.rounded-button{
  @apply flex justify-center items-center bg-red-500 py-2 px-6 text-lg button-animation rounded-full cursor-pointer;
}

.like-follow-button:hover > .like-follow-button-sub-comment{
  @apply block
}

.like-follow-button-sub-comment{
  @apply hidden px-2 py-1 rounded-2xl bg-gray-800 text-xs text-white absolute mt-16 -mb-2
}

.trash-edit-button{
  @apply h-8 w-8 border-2 border-white rounded-full p-1 duration-100
}

.article-image {
  @apply h-44 lg:h-48 w-full md:w-2/3 lg:w-64 xl:w-96 2xl:w-160 bg-gray-300 bg-cover bg-no-repeat bg-center mt-2 lg:mt-0 lg:ml-5;
}

.sidemenu-wrapper {
  @apply w-2/12 hidden xl:flex;
}

.sidemenu-main {
  @apply h-screen w-2/12 2xl:w-60 fixed flex flex-col items-center pt-10;
}

.sidemenu-hash-box {
  @apply border border-gray-600 rounded-2xl p-3 bg-second w-full;
}

.sidemenu-hash-box > ul {
  @apply list-none;
}

.sidemenu-hr {
  @apply w-full my-8 border-gray-700;
}

/* Article creator */

.creator-input {
  @apply w-full px-3 py-2 text-lg rounded-lg bg-transparent text-gray-300 border border-gray-600;
}

.pagination-btn {
 @apply px-4 py-2 mx-1 transition-colors duration-200 transform rounded-md sm:inline bg-red-500 hover:opacity-90 text-white;
}

.pagination-arrow {
  @apply flex items-center justify-center px-4 py-2 mx-1 capitalize rounded-md bg-red-500 hover:opacity-90;
}
